<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="p-4">
    <div class="mb-5">
        <a href="/">[все пользователи]</a>
        <a href="/viewers_list">[одобрить регистрацию]</a>
        <a href="/logout" class="btn btn-secondary float-end">Выйти</a>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>