<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body class="h-100 d-flex justify-content-center">
<div class="h-100 row align-items-center w-25" style="min-width: 150px">
  <div class="col h-auto w-25 text-center">
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      <form action="/login" method="POST">
          <p>Авторизация</p>
          <input class="form-control" type="text" name="username" placeholder="имя пользователя"> <br>
          <input class="form-control" type="password" name="password" placeholder="пароль"> <br>
          <button type="submit" class="btn btn-primary">Вход</button>
      </form>
  </div>
</div>
</body>
</html>