{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="accept_listeners">
        <ul>
{% if not users_list %}
            <p>Нет одобренных пользователей</p>
{% endif %}
{% for user in users_list %}
            <li>
                <p>[{{user.chat_id}}] {{user.name}}</p>
            </li>
{% endfor %}
        </ul>
    </form>
{% endblock %}