{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="accept_listeners">
        <ul>
{% if not viewers_list %}
            <p>Заявок нет</p>
{% endif %}
{% for viewer in viewers_list %}
            <li>
                <input type="checkbox" id="id_{{viewer.id}}" name="{{viewer.id}}">
                <label for="{{viewer.id}}">[{{viewer.chat_id}}] {{viewer.name}}</label><br>
            </li>
{% endfor %}
        </ul>
        {% if viewers_list %}
            <button type="submit" class="btn btn-primary">Применить</button>
        {% endif %}
    </form>
{% endblock %}